{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adams Site</title>
	<link href="https://fonts.googleapis.com/css?family=Iceland" rel="stylesheet"> 
	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">

	<!-- Custom CSS -->
	<link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
<body>
	<div class="container">
		{% include "_parts/navbar.html" %}
		{% block content %}
		{% endblock %}
	</div>
	
</body>
</html>