<div class="container mt-5 md">
	<div class="row">
		<div class="col-sm-12 col-md-8 m-auto">
			<div class="card bg-dark text-white p-3">
				<h4 class="card-title text-center"><%= @audio.title %></h4>
			  <div class="card-body text-center">
			    <audio controls src="<%= @audio.audio %>"></audio>
			    <p><%= link_to 'Back', audios_path, class: "btn btn-warning pull-right" %></p>
			  </div>
			</div>
		</div>
	</div>
</div>