{% extends 'base.html' %}

{% block content %}
	{% include "_parts/jumbo_home.html" %}

<div class="row">
		<div class="panel panel-default">
		  <div class="panel-heading">News</div>
		  <div class="panel-body">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi odio nulla nisi consectetur, recusandae minima. Eum quaerat cupiditate natus odit beatae, corporis autem accusantium consequuntur maiores vel repellat dolor laborum temporibus consequatur in quisquam atque eaque architecto iste perspiciatis fugit sapiente eius dolorum nulla. Quas cupiditate animi ducimus voluptatum officia ratione quos magni, veniam quis eaque voluptas, nobis, expedita reprehenderit laborum doloremque dignissimos eos tenetur omnis. Quam reiciendis possimus iste expedita, placeat blanditiis nostrum molestias esse nesciunt voluptatem iusto quas eligendi laudantium odit debitis aliquam impedit fugit explicabo nihil in omnis optio sequi dicta exercitationem? Animi dolorem omnis quam sint!</p>
		  </div>
		</div>


		<div class="panel panel-default">
		  <div class="panel-heading">Updates</div>
		  <div class="panel-body">
		    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi dolores repellendus, consequatur vero deleniti tempora! Debitis animi asperiores tenetur vero est incidunt cumque corporis delectus porro necessitatibus, quam ullam veritatis accusantium repudiandae enim optio dolor rem, iste illum consequuntur. Harum explicabo voluptatibus nulla quaerat, perferendis molestias eius similique minima eveniet nihil maxime provident iste nesciunt. Eveniet officiis facere explicabo ad, atque fugiat quos fuga eius placeat animi maiores laborum excepturi praesentium asperiores vero odit debitis unde ratione quibusdam magni, nobis deleniti voluptatem pariatur. Atque fugit possimus, minima unde ad minus, dolores sunt, perferendis iure magnam doloremque asperiores iste voluptate dolorum.</p>
		  </div>
		</div>

	
		<div class="panel panel-default">
		  <div class="panel-heading">Blog</div>
		  <div class="panel-body">
		    <ul class="list-group">
		    	<li class="list-group-item">
		    		<p>Posted Date</p>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, dolor, consequuntur, quas amet iusto voluptas sunt reiciendis quia sed error vel blanditiis quam nobis repellendus a fugit qui soluta! Nam nisi dignissimos sed molestias aut quibusdam sint consequatur accusamus molestiae in, quas necessitatibus. Nulla deserunt, aut, facere error at pariatur minus repudiandae reiciendis nobis, minima soluta illo impedit. Rem exercitationem, tempore tenetur ratione aliquam quibusdam quos sequi natus est error at, adipisci eveniet nihil sed!</p>
		    	</li>
		    	<li class="list-group-item">
		    		<p>Posted Date</p>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni aliquid deserunt vel repudiandae accusamus quam, ut nihil odio animi officiis soluta sit eius, delectus similique harum. Voluptatum odit sit ipsum qui assumenda, nesciunt exercitationem? Aperiam labore reprehenderit recusandae. Tempore aut, totam! Deserunt, voluptate, ut! Recusandae et, impedit incidunt sapiente at atque quisquam perspiciatis voluptatum! Voluptatum, harum sed deserunt. Minus rerum suscipit minima aut voluptatem vitae illum corporis, est. Animi ducimus quidem, earum voluptatem iste voluptas.</p>
		    	</li>
		    	<li class="list-group-item">
		    		<p>Posted Date</p>
		    		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quod fugiat nobis maiores eligendi, harum pariatur possimus odit quidem dolor! Deleniti non odit eos illo tempora a. Fuga sed animi, sint laudantium aliquid eos in, esse adipisci vel consequuntur beatae. Labore minus similique asperiores, maiores nisi omnis neque fugit cumque assumenda illo quasi sapiente ipsum blanditiis rerum amet ducimus aspernatur nesciunt. Omnis eligendi ut sint in, earum. Optio nobis, dignissimos sed reprehenderit autem doloremque, laudantium!</p>
		    	</li>
		    </ul>
		  </div>
		</div>
	
</div>

{% endblock %}

