{% extends 'base.html' %}

{% block content %}

<div class="container">
	<div class="card-deck">
	  <div class="card text-white bg-dark mb-3">
	    <div class="card-body">
	      <h4 class="card-title">Welcome</h4>
	      <p class="card-text">
	      	Welcome to my super amazing website. This site is full of great
	      	material. Please have a look around and enjoy.
	      </p>
	    </div>
	    <div class="card-footer">
	      <small class="text-muted float-right">Created by Adam</small>
	    </div>
	  </div>
	  <div class="card text-white bg-dark mb-3">
	    <div class="card-body">
	      <h4 class="card-title">News</h4>
	      <p class="card-text">
	        The latest in news as I see fit.
	      </p>
	    </div>
	    <div class="card-footer">
	      <button type="button" class="btn btn-outline-success float-right">More News</button>
	    </div>
	  </div>
	  <div class="card text-white bg-dark mb-3">
	    <div class="card-body">
	      <h4 class="card-title">Updates</h4>
	      <p class="card-text">
	      	Any updates that seem worthy shall be placed here.
	      </p>
	    </div>
	    <div class="card-footer">
	      <button type="button" class="btn btn-outline-success float-right">More Updates</button>
	    </div>
	  </div>
	</div>
	<div class="card text-white bg-dark mb-3">
	  <h4 class="card-header">Badass Tunes</h4>
	  <div class="card-body">
	    <h4 class="card-title">Latest Audio Tracks</h4>
	    <ul class="list-unstyled">
	      <li class="media">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Audio Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	      <li class="media my-4">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Audio Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	      <li class="media">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Audio Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	    </ul>
	    <button type="button" class="btn btn-outline-success float-right">More Audio Tracks</button>
	  </div>
	</div>
	<div class="card text-white bg-dark mb-3">
	  <h4 class="card-header">Badass Video</h4>
	  <div class="card-body">
	    <h4 class="card-title">Shit I have been watching</h4>
	    <ul class="list-unstyled">
	      <li class="media">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Video Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	      <li class="media my-4">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Video Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	      <li class="media">
	        <img class="d-flex mr-3" src="../static/img/index.svg" alt="Generic placeholder image">
	        <div class="media-body">
	          <h5 class="mt-0 mb-1">Awesome Video Title</h5>
	          Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
	        </div>
	      </li>
	    </ul>
	    <button type="button" class="btn btn-outline-success float-right">More Video's</button>
	  </div>
	</div>
</div>





{% endblock %}

