{% extends 'base.html' %}
	{% block content %}
		<div class="container">
			{% for aud in audio %}
			<div class="card text-white bg-dark mb-3">
			  <h4 class="card-header">{{ aud.title }}</h4>
			  <div class="card-body">
			    <ul class="list-unstyled">
			      <li class="media my-4">
			        <div class="media-body">
			          <p>{{ aud.description }}</p>
			          <a href="{{ aud.audio_file }}" class="btn btn-outline-success float-right">Download</a>
			          <audio controls class="float-right">
			          	<source src="{{ aud.audio_file.url }}" type="audio/mp3">
			          </audio>
			        </div>
			      </li>
			  </ul>
			</div>
			{% endfor %}
		</div>
	{% endblock %}