<div class="container-fluid">
	<div class="row">
		<div class="col-sm-12 col-md-3 p-3" style="background-color: #333;">
			<div class="list-group">
			  <a href="#" class="list-group-item list-group-item-dark">
			    <i class="fa fa-bullhorn" aria-hidden="true"></i> Cras justo odio
			  </a>
			  <a href="#" class="list-group-item list-group-item-dark">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item list-group-item-dark">Morbi leo risus</a>
			  <a href="#" class="list-group-item list-group-item-dark">Porta ac consectetur ac</a>
			  <a href="#" class="list-group-item list-group-item-dark">
			    <i class="fa fa-bullhorn" aria-hidden="true"></i> Cras justo odio
			  </a>
			  <a href="#" class="list-group-item list-group-item-dark">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item list-group-item-dark">Morbi leo risus</a>
			  <a href="#" class="list-group-item list-group-item-dark">Porta ac consectetur ac</a>
			  <a href="#" class="list-group-item list-group-item-dark">
			    <i class="fa fa-bullhorn" aria-hidden="true"></i> Cras justo odio
			  </a>
			  <a href="#" class="list-group-item list-group-item-dark">Dapibus ac facilisis in</a>
			  <a href="#" class="list-group-item list-group-item-dark">Morbi leo risus</a>
			  <a href="#" class="list-group-item list-group-item-dark">Porta ac consectetur ac</a>
			</div>
		</div>
		<div class="col-sm-12 col-md-9 p-5 bg-dark">
			<div class="card">
			  <div class="card-body">
			    <p>
			    	This town deserves a better class of criminal and I'm gonna give it to them. Tell your men they work for me now. This is my city.

			    	Search him. Then I will kill you.

			    	Bruce Wayne! Design, live and breathe. What brings you out of the prior sleep, Mr. Wayne?

			    	You are in hell, little man. And I am the devil.

			    	You have nothing, nothing to threaten me with. Nothing to do with all your strength.

			    	But we've met before. That was a long time ago, I was a kid at St. Swithin's, It used to be funded by the Wayne Foundation. It's an orphanage. My mum died when I was small, it was a car accident. I don't remember it. My dad got shot a couple of years later for a gambling debt. Oh I remember that one just fine. Not a lot of people know what it feels like to be angry in your bones. I mean they understand. The fosters parents. Everybody understands, for a while. Then they want the angry little kid to do something he knows he can't do, move on. After a while they stop understanding. They send the angry kid to a boy's home, I figured it out too late. Yeah I learned to hide the anger, and practice smiling in the mirror. It's like putting on a mask. So you showed up this one day, in a cool car, pretty girl on your arm. We were so excited! Bruce Wayne, a billionaire orphan? We used to make up stories about you man, legends and you know with the other kids, that's all it was, just stories, but right when I saw you, I knew who you really were. I'd seen that look on your face before. It's the same one I taught myself. I don't why you took the fault for Dent's murder but I'm still a believer in the Batman. Even if you're not...

			    	Death does not wait for you to be ready! Death is not considerate of fair! And make no mistake, here you face death. Tiger. Jujitsu. Panther. You're skilled. But this is not a dance. And you are afraid. But not of me. Tell us Mr. Wayne, what do you fear?

			    	Ooh, you think darkness is your ally? You merely adopted the dark, I was born in it. Molded by it. I didn't see the light until I was already a man. By then there was nothing to be but blinded.

			    	You know what you said about the structures becoming shackles. You were right and I can't take it, the injustice. I mean, no one ever's gonna know who saved the entire city.

			    	It means you're hatred, and it also means losing someone, who I've cared for since I first heard his cries echoing through this house. But it might also mean saving your life. And that is more important.

			    	Let me get this straight. You think that your client, one of the wealthiest, most powerful men in the world is secretly a vigilante who spends his nights beating criminals to a pulp with his bare hands and your plan is to blackmail this person? Good luck.

			    	I'm not wearing hockey pads.

			    	Carbon fiber, .28 caliber, made in China. If you wanna kill a public servant, Mr Maroni... I recommend you buy American.

			    	No gun? I'm insulted.
			    </p>
			  </div>
			</div>
		</div>
	</div>
</div>