{% extends 'base.html' %}

{% block content %}
	<div class="container">
		<div class="card text-white bg-dark mb-3">
		  <h4 class="card-header">My Blog</h4>
		  <div class="card-body">
		    <ul class="list-unstyled">
		      <li class="media my-4">
		        <div class="media-body">
		        <img class="img-fluid" src="../static/img/blog.svg" alt="Generic placeholder image">
		          <h5 class="mt-2 mb-2">Blog Post Title</h5>
		          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		          <button type="button" class="btn btn-outline-success float-right">More...</button>
		        </div>
		      </li>
		      <li class="media my-4">
		        <div class="media-body">
		        <img class="img-fluid" src="../static/img/blog.svg" alt="Generic placeholder image">
		          <h5 class="mt-2 mb-2">Blog Post Title</h5>
		          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		          <button type="button" class="btn btn-outline-success float-right">More...</button>
		        </div>
		      </li>
		      <li class="media my-4">
		        <div class="media-body">
		        <img class="img-fluid" src="../static/img/blog.svg" alt="Generic placeholder image">
		          <h5 class="mt-2 mb-2">Blog Post Title</h5>
		          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		          <button type="button" class="btn btn-outline-success float-right">More...</button>
		        </div>
		      </li>
		      <li class="media my-4">
		        <div class="media-body">
		        <img class="img-fluid" src="../static/img/blog.svg" alt="Generic placeholder image">
		          <h5 class="mt-2 mb-2">Blog Post Title</h5>
		          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		          <button type="button" class="btn btn-outline-success float-right">More...</button>
		        </div>
		      </li>
		      <li class="media my-4">
		        <div class="media-body">
		        <img class="img-fluid" src="../static/img/blog.svg" alt="Generic placeholder image">
		          <h5 class="mt-2 mb-2">Blog Post Title</h5>
		          <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
		          <button type="button" class="btn btn-outline-success float-right">More...</button>
		        </div>
		      </li>
		    </ul>
		  </div>
		</div>
	</div>
{% endblock %}